body, html {
    height: 100%;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    overflow: auto;
    box-sizing: border-box;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ea753b;
    color: white;
    width: 100%;
    height: 100vh;
}

.tile2 {
    background-color: #2A2C34;
    color: white;
    width: 100%;
    overflow: hidden;
}

.tile3 {
    background-color: #ea753b;
    color: white;
    width: 100%;
    overflow: hidden;
}

.header {
    max-width: 600px;
}

.title {
    text-align: center;
    font-size: 4em;
    padding: 20px;
}

.mission {
    margin-top: 2em;
    font-size: 3em;
    margin-bottom: 0.5em;
}

.btn.btn-primary {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 1.5em;
}

.btn.btn-primary:hover {
    background-color: #FECD1A;
    color: black;
}

.product-pitch{
    margin-top: 1.5em;
    font-size: 2.5em;
    margin-bottom: 0.5em;
    margin-right: 0.2em;
    text-align: left;
}

.start {
    font-size: 2em;
    margin-bottom: 2em;
}

.illustration {
    max-width: 100%;
    height: auto;
}

.accordian {
    width: 80%;
    color:#2A2C34
}

/* Style the card header */
.card-header {
    background-color: #2A2C34; /* Dark background color */
    color: #ea753b; /* Accent color for text */
}

/* Style the button when it's in its normal state */
.btn-link {
    color: #ea753b; /* Accent color for text */
    text-decoration: none; /* Remove underline */
}

/* Style the button when it's in its hovered or focused state */
.btn-link:hover, .btn-link:focus {
    color: #FECD1A; /* Second accent color for hover and focus state */
    text-decoration: none; /* Remove underline */
}

/* Style the card body */
.card-body {
    background-color: #2A2C34; /* Dark background color */
    color: white; /* Light text color */
}

.team-member {
    width: 230px; /* Set the width */
    height: 230px; /* Set the height */
    object-fit: cover;
}

.team-member:hover {
    transform: scale(1.1);
}

.team-member-bio {
    font-size: 0.8em;
}
